<template>
  <main>
    <div class="container">
      <div class="form-manager">
        <div id="login-form">
          <div class="row box-shadow p-90">
            <div class="col-md-5" style="padding:0px;">
              <div class="bg">
                <nuxt-link to='/'>
                 <img src="http://brandio.io/envato/iofrm/html/images/graphic2.svg" alt />
                </nuxt-link>
              </div>
            </div>
            <div class="col-md-7">
                <nuxt/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</template>
<script>
export default {
  methods:{
    logout(){
      
    }
  }
}
</script>
