<template>
  <div>
    <Navigator />
    <section id="main">
      <div class="container">
        <nuxt />
      </div>
    </section>
    <Current/>
  </div>
</template>
<script>
import Navigator from "~/components/manager/navigator";
import Current from "~/components/current"
export default {
  components: {
    Navigator,Current
  }
};
</script>
<style>
#main{
    margin:100px 0px;
}
</style>


