<template>
  <main>
    <button @click="logout()" class="btn btn-primary btn-logout">
      <span class="fa fa-random"></span>
      Sign Out
    </button>
    <div class="container">
      <div class="wrapper">
        <p>
          Hi
          <b>{{authenticated.user_name}}</b> , you are now signed in as
          <b>{{authenticated.genre}}</b>.
        </p>
        <nuxt />
      </div>
    </div>
    <Current />
  </main>
</template>
<script>
import Current from "~/components/current";
export default {
  components: {
    Current
  },
  methods: {
    logout() {
      this.$store.commit("login/REMOVE_AUTH_COOKIE");
      this.$router.push("/users/login");
    }
  },
  computed: {
    authenticated() {
      return this.$store.getters["login/getAuthenticated"];
    }
  }
};
</script>
<style>
main {
  position: relative;
}
.btn-logout {
  position: fixed;
  top: 20px;
  right: 20px;
}
.wrapper {
  margin: 100px 10px;
}
</style>


