<template>
    <div>
        <div style="marign:100px 0px" class="container">
            <div class="row justify-content-center">
                <div class="col-md-4 text-center">
                    <h1>403 Forbidden</h1>
                    <hr>
                    
                        <button @click="back()" class="btn btn-danger">
                            Go Back
                        </button>
                    
                </div>
            </div>
        </div>
        
    </div>
</template>
<script>
export default {
    methods:{
        back(){
            this.$router.back()
        }
    }
}
</script>

