<template>
  <div class="container" style="margin-top:200px;">
    <div class="row justify-content-center">
      <div class="col-md-4">
         <logo />
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-4">
         <nuxt-link to="/admins">
            <button class="btn btn-primary">
                Administrator
            </button>
         </nuxt-link>
         <nuxt-link to="/users">
            <button class="btn btn-danger">
                Employee
            </button>
         </nuxt-link>
        
      </div>
    </div>
  </div>
</template>

<script>
import Logo from '~/components/Logo.vue'

export default {
  components: {
    Logo
  }
}
</script>

<style>

</style>
