@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
* {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: 'Quicksand', 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif!important;
}

.form-manager {
    display: flex;
    align-content: center;
    justify-content: center;
    width: 100%;
    height: 700px;
}

#login-form {
    padding: 50px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.bg {
    background-color: rgb(3, 58, 95);
    padding: 50px 10px;
    height: 100%;
}

.box-shadow {
    box-shadow: 1px 1px 20px #5555;
}

.p-90 {
    width: 90% !important;
}

.logout {
    position: absolute;
    top: 20px;
    right: 20px;
}

.response {
    padding: 20px;
}

.error-message li {
    list-style: none;
    font-size: 13px;
    color: #ff500d;
    font-style: italic;
}

.head-title {
    margin: 20px 0px;
    padding: 10px;
}

.head-title h1 {
    font-size: 23px;
    text-transform: uppercase;
    font-weight: bold;
    color: rgb(3, 58, 95);
}

.text-center {
    text-align: center !important;
}

.form {
    padding: 20px;
}

.genre-element h2 {
    padding: 5px 20px;
    font-size: 20px;
    text-transform: uppercase;
    color: #033a69;
}

.genre-element::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0px;
    width: 50px;
    height: 4px;
    margin-left: 21px;
    background: #033a5f;
}

.genre-element {
    position: relative;
}

.form-group {
    position: relative;
    margin: 25px 50px;
}

.form-group span {
    position: absolute;
    top: 10px;
    left: 13px;
    font-size: 22px;
    color: #033a5f;
}

.form-group.before::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 6px;
    background: #033a5f;
}

input.dept-form {
    width: 100%;
    height: 45px;
    padding-left: 40px;
    border-radius: 4px;
    border: 1px solid #b9b1b1;
}

.dept-button {
    padding: 7px 30px;
    background: #e4e4e4;
    border: none;
    color: #fff;
    box-shadow: 3px 4px 7px #00000026;
    transition: 0.4s ease-in-out;
    border-radius: 5px;
}

.dept-button:hover {
    box-shadow: 3px 8px 15px #00000049;
}

.dept-primary {
    background: #033a5f;
    text-transform: uppercase;
}

@media (max-width: 767px) {
    .bg {
        display: none;
    }
}

.head-title {
    margin: 20px 0px;
    padding: 10px;
}

.head-title h1 {
    font-size: 23px;
    text-transform: uppercase;
    font-weight: bold;
    color: rgb(3, 58, 95);
}

.text-center {
    text-align: center !important;
}

.form {
    padding: 20px;
}

.genre-element h2 {
    padding: 5px 20px;
    font-size: 20px;
    text-transform: uppercase;
    color: #033a69;
}

.genre-element::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0px;
    width: 50px;
    height: 4px;
    margin-left: 21px;
    background: #033a5f;
}

.genre-element {
    position: relative;
}

.form-group {
    position: relative;
    margin: 25px 50px;
}

.form-group span {
    position: absolute;
    top: 10px;
    left: 13px;
    font-size: 22px;
    color: #033a5f;
}

.form-group.before::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 6px;
    background: #033a5f;
}

input.dept-form {
    width: 100%;
    height: 45px;
    padding-left: 40px;
    border-radius: 4px;
    border: 1px solid #b9b1b1;
}

.dept-button {
    padding: 7px 30px;
    background: #e4e4e4;
    border: none;
    color: #fff;
    box-shadow: 3px 4px 7px #00000026;
    transition: 0.4s ease-in-out;
    border-radius: 5px;
}

.dept-button:hover {
    box-shadow: 3px 8px 15px #00000049;
}

.dept-primary {
    background: #033a5f;
    text-transform: uppercase;
}

.form-group i {
    position: absolute;
    height: 100%;
    top: 11px;
    right: 9px;
    cursor: pointer;
    color: #033a5f;
}

.response {
    padding: 20px;
}

.error-message li {
    list-style: none;
    font-size: 13px;
    color: #ff500d;
    font-style: italic;
}

.navbar-icon-top .navbar-nav .nav-link>.fa {
    position: relative;
    width: 36px;
    font-size: 24px;
}

.navbar-icon-top .navbar-nav .nav-link>.fa>.badge {
    font-size: 0.75rem;
    position: absolute;
    right: 0;
    font-family: sans-serif;
}

.navbar-icon-top .navbar-nav .nav-link>.fa {
    top: 3px;
    line-height: 12px;
}

.navbar-icon-top .navbar-nav .nav-link>.fa>.badge {
    top: -10px;
}

.show .dropdown-menu {
    display: block!important;
    animation: .4s drop forwards;
    opacity: 0;
    height: 0;
}

.nav-item {
    margin: 0px 20px;
}

@keyframes drop {
    0% {
        opacity: 0;
        height: 0;
    }
    100% {
        opacity: 1;
        height: auto;
    }
}

@media (min-width: 576px) {
    .navbar-icon-top.navbar-expand-sm .navbar-nav .nav-link {
        text-align: center;
        display: table-cell;
        height: 70px;
        vertical-align: middle;
        padding-top: 0;
        padding-bottom: 0;
    }
    .navbar-icon-top.navbar-expand-sm .navbar-nav .nav-link>.fa {
        display: block;
        width: 48px;
        margin: 2px auto 4px auto;
        top: 0;
        line-height: 24px;
    }
    .navbar-icon-top.navbar-expand-sm .navbar-nav .nav-link>.fa>.badge {
        top: -7px;
    }
}

@media (min-width: 768px) {
    .navbar-icon-top.navbar-expand-md .navbar-nav .nav-link {
        text-align: center;
        display: table-cell;
        height: 70px;
        vertical-align: middle;
        padding-top: 0;
        padding-bottom: 0;
    }
    .navbar-icon-top.navbar-expand-md .navbar-nav .nav-link>.fa {
        display: block;
        width: 48px;
        margin: 2px auto 4px auto;
        top: 0;
        line-height: 24px;
    }
    .navbar-icon-top.navbar-expand-md .navbar-nav .nav-link>.fa>.badge {
        top: -7px;
    }
}

@media (min-width: 992px) {
    .navbar-icon-top.navbar-expand-lg .navbar-nav .nav-link {
        text-align: center;
        display: table-cell;
        height: 70px;
        vertical-align: middle;
        padding-top: 0;
        padding-bottom: 0;
    }
    .navbar-icon-top.navbar-expand-lg .navbar-nav .nav-link>.fa {
        display: block;
        width: 48px;
        margin: 2px auto 4px auto;
        top: 0;
        line-height: 24px;
    }
    .navbar-icon-top.navbar-expand-lg .navbar-nav .nav-link>.fa>.badge {
        top: -7px;
    }
}

@media (min-width: 1200px) {
    .navbar-icon-top.navbar-expand-xl .navbar-nav .nav-link {
        text-align: center;
        display: table-cell;
        height: 70px;
        vertical-align: middle;
        padding-top: 0;
        padding-bottom: 0;
    }
    .navbar-icon-top.navbar-expand-xl .navbar-nav .nav-link>.fa {
        display: block;
        width: 48px;
        margin: 2px auto 4px auto;
        top: 0;
        line-height: 24px;
    }
    .navbar-icon-top.navbar-expand-xl .navbar-nav .nav-link>.fa>.badge {
        top: -7px;
    }
}