<template>
    <div id="current-fixed">
        <div class="alert alert-success">
              <Marquee>{{authenticated.user_name}} - {{authenticated.genre}}</Marquee>
        </div>
    </div>
</template>
<script>
export default {
    computed:{
        authenticated(){
            return this.$store.getters["login/getAuthenticated"]
        }
    }
}
</script>
<style>
#current-fixed{
    position: fixed;
    bottom: 0px;
    left: 0px;
}
</style>

