<template>
  <div>
    <div class="form">
      <div class="head-title">
        <h1 class="text-center">Staff & Department management</h1>
        <p class="text-center">
          <i>"Change Password - Employee"</i>
          <br />
        </p>
        <transition name="fade" mode="out-in">
          <p class="text-center">
            <img src="https://img.icons8.com/bubbles/2x/user.png" width="100px" alt />
            <span>
              UserName :
              <span style="font-weight:bold">{{authenticated.user_name}}</span>
            </span>
          </p>
        </transition>
      </div>
      <form @submit.prevent.stop="change()">
        <div class="form-group">
          <div class="form-group before">
            <span class="fa fa-key"></span>
            <input
              required
              type="password"
              class="dept-form"
              id="password"
              v-model="user.password"
              placeholder="New password"
            />
            <i @click="eye.password=!eye.password" v-if="eye.password" class="fa fa-eye"></i>
            <i @click="eye.password=!eye.password" v-if="!eye.password" class="fa fa-eye-slash"></i>
          </div>
          <div class="form-group before">
            <span class="fa fa-key"></span>
            <input
              required
              type="password"
              class="dept-form"
              id="confirm"
              v-model="user.password_confirmation"
              placeholder="Confirm password"
            />
            <i @click="eye.confirm=!eye.confirm" v-if="eye.confirm" class="fa fa-eye"></i>
            <i @click="eye.confirm=!eye.confirm" v-if="!eye.confirm" class="fa fa-eye-slash"></i>
          </div>
          <div class="form-group text-center">
            <button class="dept-button dept-primary">Change</button>
          </div>
          
        </div>
      </form>
      <div class="response">
        <div v-if="errors.error || errors.response" class="error-message">
          <ul class="error-ul">
            <li class="error-item" v-for="(e,i) in errors.error.data.password" :key="errors.error.data.password[i]"><span class="fa fa-minus-circle"></span> {{errors.error.data.password[i]}}</li>
            <li class="error-item" v-for="(e,i) in errors.error.data.confirm" :key="errors.error.data.password_confirmation[i]"><span class="fa fa-minus-circle"></span> {{errors.error.data.password_confirmation[i]}}</li>
          </ul>
        </div>
        <div class="form-group fix">
              <p class="text-center c-logout text-danger" @click="logout()">
                  <i class="fa fa-random"></i>
                  Logout ?
              </p>
          </div>
      </div>
      
    </div>
  </div>
</template>
<script>
export default {
  layout: "login",
  middleware:"authenticated_user",
  meta:{
      authenticated:{
          role:"noFirst",
          url:"/users"
      }
  },
  data() {
    return {
      user: {
        password: "",
        password_confirmation: ""
      },
      eye: {
        password: false,
        confirm: false
      },
      status: false,
    };
  },
  computed:{
      authenticated(){
          return this.$store.getters["login/getAuthenticated"]
      },
      errors(){
          return this.$store.getters["login/getErrors"]
      }
  },
  watch: {
    "eye.password"(value) {
      if (value) {
        $("#password").attr("type", "text");
      } else {
        $("#password").attr("type", "password");
      }
    },
    "eye.confirm"(value) {
      if (value) {
        $("#confirm").attr("type", "text");
      } else {
        $("#confirm").attr("type", "password");
      }
    }
  },
  methods: {
    change() {
        this.$store.dispatch("login/activeAuthenticated",{
            user:this.user,
            url:"api/v1/user/active"
        })
    },
    logout(){
        this.$store.commit("login/REMOVE_AUTH_COOKIE")
        this.$router.go(this.$route.path)
    }
  },
  created(){
      
  },
  head() {
    return {
      title: "Change password - First Login"
    };
  }
};
</script>
<style>
p.text-center.c-logout{
    cursor: pointer;
}
.form-group.fix i{
    position: static;
    color: brown;
    font-size: 13px;
}
</style>



