<template>
    <div>
        
        Hi <b>{{ authenticated.user_name }}</b>, you are now signed in as <b>{{ authenticated.genre }}</b>.
    </div>
</template>
<script>
export default {
    middleware:"authenticated",
    layout:"manager",
    meta:{
        authenticated:{
            role:"first"
        }
    },
    methods:{
        
         logout(){
            return this.$store.commit('login/REMOVE_AUTH_COOKIE')
        }
    },
    computed:{
         authenticated() {
            return this.$store.getters["login/getAuthenticated"];
        },
    },
    created(){
        // this.$store.dispatch("manager/STATISTICS");
    }
}
</script>
