<template>
    <div>
        <Users/>
        <br>
        <Admins/>
        <br>
        <Department/>
    </div>
</template>
<script>
import Users from "~/components/manager/trash/user"
import Admins from "~/components/manager/trash/admin"
import Department from "~/components/manager/trash/Department"
export default {
    components:{
    Admins,Department,Users
    },
    middleware:["authenticated","root"],
    async asyncData({app,store}) {
        // let res = await app.$axios.get("api/v1/admin/manager")
        return store.dispatch("manager/TRASH")
    },
    layout:"manager"
}
</script>