<template>
  <div class="container">
    <div class="card">
      <div class="card-header bg-dark">
        <h4 class="text-white">Create New Manager</h4>
      </div>
      <div class="card-body">
        <form @submit.prevent.stop="register()">
          <div class="form-group">
            <div class="row">
              <div class="col-md-6">
                <label for="first_name">First Name</label>
                <input
                  type="text"
                  id="first_name"
                  placeholder="first name "
                  v-model="schema.first_name"
                  class="form-control"
                  required
                />
              </div>
              <div class="col-md-6">
                <label for="last_name">Last Name</label>
                <input
                  type="text"
                  id="last_name"
                  placeholder="last name "
                  v-model="schema.last_name"
                  class="form-control"
                  required
                />
              </div>
            </div>
          </div>
          <div class="form-group fix">
            <div class="row">
              <div class="col-md-6">
                <label for="email">Email</label>
                <input
                  type="email"
                  @change="validateEmail()"
                  id="email"
                  placeholder="email "
                  class="form-control"
                  v-model="schema.email"
                  required
                />
                <ul class="error-handling" v-if="errors_handling.email">
                  <li>
                    &times;
                    &nbsp;{{errors_handling.email}}
                  </li>
                </ul>
              </div>
              <div class="col-md-3">
                <label for="gender">Gender</label>
                <select
                  name="gender"
                  id="gender"
                  v-model="schema.gender"
                  required
                  class="form-control"
                >
                  <option value>Choose a gender</option>
                  <option value="male">Male</option>
                  <option value="female">Female</option>
                </select>
              </div>
              <div class="col-md-3">
                <label for="birth_day">Birthday</label>
                <input
                  type="date"
                  id="birth_day"
                  placeholder="birth day "
                  v-model="schema.birth_day"
                  class="form-control"
                  required
                />
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-md-6">
                <label for="address">Address</label>
                <input
                  type="text"
                  id="address"
                  placeholder="address  "
                  v-model="schema.address"
                  class="form-control"
                  required
                />
              </div>
              <div class="col-md-6">
                <label for="phone">Phone</label>
                <input
                  type="text"
                  id="phone"
                  placeholder="phone "
                  v-model="schema.phone"
                  class="form-control"
                  required
                />
              </div>
            </div>
          </div>
          <div class="form-group fix">
            <div class="row">
              <div class="col-md-8">
                <label for="user_name">User name</label>
                <input
                  type="text"
                  @change="validateUserName()"
                  id="user_name"
                  placeholder="user name "
                  class="form-control"
                  v-model="schema.user_name"
                  required
                />
                <ul class="error-handling" v-if="errors_handling.user_name">
                  <li>
                    &times;
                    &nbsp;{{errors_handling.user_name}}
                  </li>
                </ul>
              </div>
              <div class="col-md-4">
                <label for="genre">Department</label>
                <select class="form-control" v-model="schema.department_id" multiple required>
                    <option value="">Choose a department</option>
                    <option v-for="(d,i) in departments" :key="i" :value="d.id">
                        {{d.name}}
                    </option>
                </select>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="row">
              <!-- <div class="col-md-1"></div> -->
              <div class="col-md-4">
                <button type="submit" class="btn btn-success">Create</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      schema: {
        first_name: "",
        last_name: "",
        email: "",
        birth_day: "",
        address: "",
        user_name: "",
        phone: "",
        address: "",
        gender: "",
        department_id:[]
      },
      errors_handling: {
        email: "",
        user_name: ""
      },
      
    };
  },
  computed:{
      authenticated(){
          return this.$store.getters["login/getAuthenticated"]
      },
      departments(){
          return this.$store.getters["manager/getDepartments"]
      }
  },
  methods: {
    validateEmail() {
      if (this.isEmail(this.schema.email)) {
        this.$axios
          .post(`api/v1/admin/validate/admin/email`, 
            {
                email: this.schema.email
            },
            {
                headers:{
                    Authorization:"Bearer "+this.authenticated.access_token
                }
            }
          )
          .then(res => {
            if (res.data.status !== 200) {
              this.errors_handling.email = "email is already exists";
            } else {
              this.errors_handling.email = "";
            }
          })
          .catch(err => {
            console.log(err);
          });
      } else {
        this.errors_handling.email = "this field is email";
      }
    },
    isEmail(email) {
      if (/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(email)) {
        return true;
      }
      return false;
    },
    // parseErrorHandling(error) {
    //   $error = "";
    //   switch (error.toLowerCase()) {
    //     case "email":
    //       this.errors_handling.email.forEach(function(item) {
    //         $error += `<li>${item}</li>`;
    //       });
    //       break;
    //     case "user_name":
    //       this.errors_handling.user_name.forEach(function(item) {
    //         $error += `<li>${item}</li>`;
    //       });
    //       break;
    //   }
    //   return $error;
    // },
    validateUserName() {
      this.$axios
        .post(`api/v1/admin/validate/admin/user_name`, 
            {
                 user_name: this.schema.user_name
            },
            {
                headers:{
                    Authorization:"Bearer "+this.authenticated.access_token
                }
            }
        )
        .then(res => {
          if (res.data.status !== 200) {
            this.errors_handling.user_name = "user_name is already exists";
          } else {
            this.errors_handling.user_name = "";
          }
        })
        .catch(err => {
          console.log(err);
        });
    },
    register() {
      if (
        this.errors_handling.email === "" &&
        this.errors_handling.user_name === ""
      ) {
        this.$axios
          .post("/api/v1/admin/manager", this.schema,{
                headers:{
                    Authorization:"Bearer "+this.authenticated.access_token
                }
            })
          .then(res => {
            console.log(res);
            if (res.data.status == 200) {
              let conf = confirm(`
                    ${res.data.message} !
                    Redirect page ?
                `);
              if (conf) {
                this.$router.go("/admins/user");
              } else {
                this.$router.go(this.$route.path);
              }
            }
          })
          .catch(err => {
            console.log(err);
          });
      } else {
        alert("Validation ?");
      }
    }
  }
};
</script>

<style>
ul.error-handling li {
  list-style: none;
  font-size: 14px;
  color: #e21212;
}
</style>



