<template>
  <div>
    <div class="card">
      <div class="card-header bg-dark">
        <h4 class="text-white">Department</h4>
      </div>
      <div class="card-body">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>#</th>
              <th>Name</th>
              <th>Adress</th>
              <th>Created at</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(d,i) in departments" :key="i">
              <td>{{d.id}}</td>
              <td>{{d.name}}</td>
              <td>{{d.address}}</td>
              <td>{{d.created_at}}</td>
              <td>
                <nuxt-link :to="'/admins/department/'+d.id">
                  <button class="btn btn-success">
                    <span class="fa fa-edit"></span>
                  </button>
                </nuxt-link>
                <button @click="destroy(d.id)" class="btn btn-danger">
                  <span class="fa fa-trash"></span>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  computed: {
    departments() {
      return this.$store.getters["manager/getDepartments"];
    },
    authenticated(){
      return this.$store.getters["login/getAuthenticated"];
    },
  },
  methods:{
    destroy(id){
      this.$axios.delete('api/v1/admin/department/'+id,{
        headers:{
          Authorization: "Bearer "+this.authenticated.access_token 
        }
      })
      .then(response=>{
        this.$store.dispatch("manager/DEPARTMENTS")
      })
      .catch(error=>{
        alert(error)
      })
    }
  }
};
</script>

<style>
</style>
