<template>
  <div class="modal fade" id="detail">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Detail : {{data.first_name}} {{data.last_name}}</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <div class="table-responsive table-detail">
            <table class="table table-hover">
              <thead>
                <tr>
                  <td>Name</td>
                  <td>Username</td>
                  <td>Email</td>
                  <td>Phone</td>
                  <td>Address</td>
                  <td>Birth day</td>
                  <td>Gender</td>
                  <td>Status</td>
                  <td>Department</td>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{data.first_name}}-{{data.last_name}}</td>
                  <td>{{data.user_name}}</td>
                  <td>{{data.email}}</td>
                  <td>{{data.phone}}</td>
                  <td>{{data.address}}</td>
                  <td>{{data.birth_day}}</td>
                  <td>{{data.gender}}</td>
                  <td>
                      <span v-if="data.first_login==1" class="fa fa-lock text-danger"></span>
                      <span v-if="data.first_login==0" class="fa fa-lock-open text-success"></span>
                    
                  </td>
                  <td>{{data.department}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  props: ["data", "open"],
  watch: {
    data(value) {
      $("#detail").modal("show");
    }
  }
};
</script>
<style lang="css">
.table-detail td {
  white-space: nowrap;
}
</style>

