<template>
  <div>
    <button @click="exportCsv(0)" class="btn btn-success">Export All</button>
    <hr />
    <div class="card" v-for="(d,i) in data" :key="i">
      <div class="card-header bg-dark">
        <h4 class="text-white">Department : {{d.department}}</h4>
        <br />
        <button @click="exportCustom()" class="btn btn-success">Export ({{user_id.length}})</button>
      </div>
      <div class="card-body">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>
                <input type="checkbox" @click="all=!all" />
              </th>
              <th>Username</th>
              <th>Name</th>
              <th>Status</th>
              <th>Created at</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(u,t) in d.users" :key="t">
              <td>
                <input type="checkbox" v-model="user_id" :value="u.id" />
              </td>
              <td>{{u.user_name}}</td>
              <td>{{u.first_name}} {{u.last_name}}</td>
              <td>
                <span v-if="u.first_login==1" class="fa fa-lock text-danger"></span>
                <span v-if="u.first_login==0" class="fa fa-lock-open text-success"></span>
              </td>
              <td>{{u.created_at}}</td>
              <td>
                <button @click="detail(u,d)" class="btn btn-primary">Details</button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- <hr>  -->
      <br />
    </div>

    <div class="modal fade" id="myModal">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">Detail : {{user.first_name}} {{user.last_name}}</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>

          <!-- Modal body -->
          <div class="modal-body">
            <div class="table-responsive">
              <table class="table table-hover">
                <thead>
                  <tr>
                    <td>Name</td>
                    <td>Username</td>
                    <td>Email</td>
                    <td>Phone</td>
                    <td>Address</td>
                    <td>Birth day</td>
                    <td>Gender</td>
                    <td>Status</td>
                    <td>Department</td>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>{{user.first_name}}-{{user.last_name}}</td>
                    <td>{{user.user_name}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.phone}}</td>
                    <td>{{user.address}}</td>
                    <td>{{user.birth_day}}</td>
                    <td>{{user.gender}}</td>
                    <td>
                      <span v-if="user.first_login==1" class="fa fa-lock text-danger"></span>
                      <span v-if="user.first_login==0" class="fa fa-lock-open text-success"></span>
                    </td>
                    <td>{{department.department}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      user: {},
      department: "",
      all: false,
      user_id: []
    };
  },
  computed: {
    data() {
      return this.$store.getters["manager/getUsers"];
    },
    id() {
      let users = this.$store.getters["manager/getUsers"][0].users;
      var data = [];
      if (users && Array.isArray(users)) {
        users.forEach(function(u) {
          data.push(u.id);
        });
      }
      return data;
    },
    authenticated() {
      return this.$store.getters["login/getAuthenticated"];
    }
  },
  watch: {
    all(value) {
      if (value) {
        this.user_id = this.id;
      } else {
        this.user_id = [];
      }
    }
  },
  methods: {
    detail(u, d) {
      this.department = d;
      this.user = u;
      $("#myModal").modal("show");
    },
    exportCsv(id) {
      let param = id == 0 ? {} : { department_id: id };
      console.log(param);
      this.$axios
        .post("api/v1/admin/user/export", param, {
          headers: {
            Authorization: "Bearer " + this.authenticated.access_token
            // responseType: "application/vnd.ms-excel"
          }
        })
        .then(this.downloadErrorDetailBlastSuccess)
        // .then(response=>{
        //   console.log(response)
        // })
        .catch(error => {});
    },
    exportCustom() {
      this.$axios
        .post("api/v1/admin/user/export-line", {user_id:this.user_id}, {
          headers: {
            Authorization: "Bearer " + this.authenticated.access_token
            // responseType: "application/vnd.ms-excel"
          }
        })
        .then(this.downloadErrorDetailBlastSuccess)
        // .then(response=>{
        //   console.log(response)
        // })
        .catch(error => {});
    },
    downloadErrorDetailBlastSuccess(response) {
      console.log(response);
      const url = window.URL.createObjectURL(
        new Blob([response.data], { type: "application/vnd.ms-excel" })
      );
      const link = document.createElement("a");

      link.href = url;
      link.setAttribute("download", "list.csv");
      document.body.appendChild(link);
      link.click();
      console.log(response.data);
      // alert("File download!");
    }
  }
};
</script>
<style lang="css">
td {
  white-space: nowrap;
}
</style>

