<template>
  <div>
    <div class="card">
      <div class="card-header bg-dark">
        <h4 class="text-white">Users</h4>
        <br />
        <button @click="resetUser()" class="btn btn-success">Reset ({{reset_users.length}})</button>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>
                  <input type="checkbox" @click="allUser=!allUser" />
                </th>
                <th>Username</th>
                <th>Name</th>
                <th>Deaprtment</th>
                <th>Email</th>
                <th>Status</th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(user,index) in users" :key="index">
                <td>
                  <input type="checkbox" :value="user.id" v-model="reset_users" />
                </td>
                <td>{{user.user_name}}</td>
                <td>{{user.first_name}} {{user.last_name}}</td>
                <td>{{user.department}}</td>
                <td>{{user.email}}</td>
                <td>
                  <span v-if="user.first_login==1" class="fa fa-lock text-danger"></span>
                  <span v-if="user.first_login==0" class="fa fa-unlock-alt text-success"></span>
                </td>
                <td>
                  <button @click.prevent.stop="details(user)" class="btn btn-warning">details</button>
                </td>
                <td>
                  <nuxt-link :to="'/admins/user/'+user.id">
                    <button class="btn btn-primary">
                      <span class="fa fa-edit"></span>
                    </button>
                  </nuxt-link>
                  <button @click="destroyUser(user,'user')" class="btn btn-danger">
                    <span class="fa fa-trash"></span>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <ul class="pagination">
          <li :class="getClassUser(i)" v-for="i in pagination_users" :key="i">
            <button class="page-link" @click="PaginateUser(i)">{{i}}</button>
          </li>
        </ul>
      </div>
    </div>
    <br />
    <div class="card">
      <div class="card-header bg-dark">
        <h4 class="text-white">Administrators</h4>
        <button @click="resetAdmin()" class="btn btn-success">Reset ({{reset_admins.length}})</button>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>
                  <input type="checkbox" @click="allAdmin=!allAdmin" />
                </th>
                <th>Username</th>
                <th>Name</th>
                <th>Permission</th>
                <th>Management</th>
                <th>Status</th>
                <th>Created at</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(admin,index) in admins" :key="index">
                <td>
                  <input type="checkbox" :value="admin.id" v-model="reset_admins" />
                </td>
                <td>{{admin.user_name}}</td>
                <td>{{admin.first_name}} {{admin.last_name}}</td>
                <td>{{admin.permission}}</td>
                <td></td>
                <td>
                  <span v-if="admin.first_login==1" class="fa fa-lock text-danger"></span>
                  <span v-if="admin.first_login==0" class="fa fa-unlock-alt text-success"></span>
                </td>
                <td>{{admin.created_at}}</td>
                <td>
                  <button @click="details(admin)" class="btn btn-warning">details</button>
                  <nuxt-link :to="'/admins/user/manager/'+admin.id">
                    <button class="btn btn-primary">
                      <span class="fa fa-edit"></span>
                    </button>
                  </nuxt-link>
                  <button @click="destroyUser(admin,'admin')" class="btn btn-danger">
                    <span class="fa fa-trash"></span>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <ul class="pagination">
          <li :class="getClassAdmin(i)" v-for="i in pagination_admins" :key="i">
            <button class="page-link" @click="PaginateAdmin(i)">{{i}}</button>
          </li>
        </ul>
      </div>
    </div>
    <Detail :data="detail" :open="open" />
  </div>
</template>
<script>
import Detail from "~/components/manager/detail";
export default {
  components: {
    Detail
  },
  data() {
    return {
      page_admins: 1,
      page_users: 1,
      reset_users: [],
      reset_admins: [],
      detail: {},
      open: false,
      allUser: false,
      allAdmin: false
    };
  },
  watch: {
    allUser(value) {
      if (value) {
        this.reset_users  = this.user_id
      }else{
        this.reset_users = []
      }
    },
    allAdmin(value) {
      if (value) {
        this.reset_admins  = this.admin_id
      }else{
        this.reset_admins = []
      }
    }
  },
  created() {
    // if (this.users.length == 0 && this.admins.length == 0) {
    // this.$store.dispatch("manager/fetchUsersAndAdmins", 1);
    // }
  },
  computed: {
    authenticated() {
      return this.$store.getters["login/getAuthenticated"];
    },
    users() {
      return this.$store.getters["manager/getUsers"];
    },
    user_id() {
      let users = this.$store.getters["manager/getUsers"];
      var data = [];
      if (users && Array.isArray(users)) {
        users.forEach(function(u) {
          data.push(u.id);
        });
      }
      return data;
    },
    admins() {
      return this.$store.getters["manager/getAdmins"];
    },
    admin_id() {
      let users = this.$store.getters["manager/getAdmins"];
      var data = [];
      if (users && Array.isArray(users)) {
        users.forEach(function(u) {
          data.push(u.id);
        });
      }
      return data;
    },
    pagination_users() {
      return this.$store.getters["manager/getUsersPaginate"];
    },
    pagination_admins() {
      return this.$store.getters["manager/getAdminsPaginate"];
    }
  },
  methods: {
    details(data) {
      if (JSON.stringify(data) == JSON.stringify(this.detail)) {
      }
      this.detail = data;
    },
    getClassUser(i) {
      return this.page_users == i
        ? {
            "page-item": true,
            active: true
          }
        : {
            "page-item": true
          };
    },
    getClassAdmin(i) {
      return this.page_admins == i
        ? {
            "page-item": true,
            active: true
          }
        : {
            "page-item": true
          };
    },
    PaginateUser(page) {
      this.page_users = page;
      this.$store.dispatch("manager/USERS", page);
    },
    PaginateAdmin(page) {
      this.page_admins = page;
      this.$store.dispatch("manager/ADMINS", page);
    },
    resetAdmin() {
      if (this.reset_admins.length == 0) {
        return;
      }
      let is = confirm("Are you sure ?");
      if (is) {
        this.$store.dispatch("login/resetStatusAdmins", {
          admins: this.reset_admins
        });
      }
    },
    resetUser() {
      if (this.reset_users.length == 0) {
        return;
      }
      let is = confirm("Are you sure ?");
      if (is) {
        this.$store.dispatch("login/resetStatusUsers", {
          users: this.reset_users
        });
      }
    },
    destroyUser(user, option) {
      let url = "";
      let page = 1;
      switch (option.toLowerCase()) {
        case "user":
          url = "api/v1/admin/users/" + user.id;
          page = this.page_users;
          break;
        case "admin":
          url = "api/v1/admin/manager/" + user.id;
          page = this.page_admins;
          break;
      }
      if (url != "") {
        this.$axios
          .delete(url, {
            headers: {
              Authorization: "Bearer " + this.authenticated.access_token
            }
          })
          .then(response => {
            this.$store.dispatch("manager/fetchUsersAndAdmins", page);
          })
          .catch(error => {
            alert("dont remove !");
          });
      }
    }
  }
};
</script>

