<template>
  <header>
    <nav class="navbar navbar-icon-top navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#" style="margin:0px 50px">
          <img src="https://image.flaticon.com/icons/svg/809/809522.svg" style="filter:invert(1)" width="60px" alt="">
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <nuxt-link class="nav-link" to="/admins">
              <i class="fa fa-home"></i>
              Management
              <span class="sr-only">(current)</span>
            </nuxt-link>
          </li>
          <li class="nav-item dropdown active">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <i class="fa fa-users">
                <!-- <span class="badge badge-primary">11</span> -->
              </i>
              Staff
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <nuxt-link class="dropdown-item" v-if="authenticated.genre=='root'" to="/admins/user/create?role=user">Create a User</nuxt-link>
              <nuxt-link class="dropdown-item" v-if="authenticated.genre=='root'" to="/admins/user/create?role=manager">Create a Manager</nuxt-link>
              <div class="dropdown-divider"></div>
              <nuxt-link class="dropdown-item" to="/admins/user">
                   List Accounts
              </nuxt-link>
            </div>
          </li>
           <li v-if="authenticated.genre=='root'" class="nav-item dropdown active">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <i class="fa fa-archive">
                <!-- <span class="badge badge-primary">11</span> -->
              </i>
              Department
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <nuxt-link class="dropdown-item"  to="/admins/department/create">Create a Department</nuxt-link>
              <div class="dropdown-divider"></div>
              <nuxt-link class="dropdown-item"  to="/admins/department">
                   List Department
              </nuxt-link>
            </div>
          </li>
          <li class="nav-item active" v-if="authenticated.genre=='root'">
            <nuxt-link class="nav-link" to="/admins/trash">
              <i class="fa fa-trash"></i>
              Trash
            </nuxt-link>
          </li>
        </ul>
        <ul class="navbar-nav" style="margin-right:100px">
          
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <i class="fa fa-user">
                <!-- <span class="badge badge-primary">11</span> -->
              </i>
              Welcome,{{authenticated.user_name}}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <nuxt-link class="dropdown-item" to="/admins/profile">Profile</nuxt-link>
              <nuxt-link class="dropdown-item" to="/admins/change-password">Change Password</nuxt-link>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" @click="logout()" href="#">Logout</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>
  </header>
</template>
<script>

export default {
    components:{
        
    },
    computed:{
        authenticated(){
            return this.$store.getters["login/getAuthenticated"]
        }
    },methods:{
      logout(){
        this.$store.commit("login/REMOVE_AUTH_COOKIE")
        this.$router.push("/admins/login")
      }
    }
}
</script>

