<template>
    <div>
        <div class="box-permissison">
            <p>
                <span class="fa fa-flag"></span>
                Permission : {{permission}}
            </p>
        </div>
    </div>
</template>
<script>
export default {
    computed:{
        permission(){
            return this.$store.getters["login/getAuthenticated"].genre
        }
    }
}
</script>
<style>
    .box-permissison{
        position: absolute;
        top: 100px;
        left: 0px;
        padding: 20px 50px;
        background:#fff;
        box-shadow: 1px 1px 15px rgba(85, 85, 85, 0.397);
        color: black;
    }
</style>


