<template>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="row justify-content-center">
          <div class="col-sm-6">
            <div class="box-statistic">
              <div class="card-icon">

              </div>
              <div class="sta-main">
                
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row justify-content-center">
          <div class="col-sm-6">
            <div class="box-statistic"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {};
</script>