<template>
  <div>
    <div v-if=" this.$route.query.role=='user'">
      <CreateUser />
    </div>
    <div v-if=" this.$route.query.role=='manager'">
      <CreateManager />
    </div>
  </div>
</template>
<script>
import CreateUser from "~/components/manager/create_user";
import CreateManager from "~/components/manager/create_manager";
export default {
  layout: "manager",
  middleware: ["authenticated", "root"],
  meta: {
    authenticated: {
      role: "first"
    }
  },
  components: {
    CreateUser,
    CreateManager
  },
  data() {
    return {};
  },
  created() {
    this.$store.dispatch("manager/DEPARTMENTS");
  }
};
</script>

