<template>
  <div>
    <div v-if="authenticated.genre=='root'">
        <isRoot/>
    </div>
    <div v-if="authenticated.genre=='manager'">
        <isManager/>
    </div>
  </div>
</template>
<script>
import isRoot from "~/components/manager/for_root"
import isManager from "~/components/manager/for_manager"
export default {
  layout: "manager",
  components:{
      isRoot,isManager
  },
  middleware:"authenticated",
  meta: {
    authenticated: {
      role: "first"
    }
  },
  computed:{
       authenticated() {
      return this.$store.getters["login/getAuthenticated"];
    },
  },
  async asyncData({ store }) {
    return store.dispatch("manager/fetchUsersAndAdmins",1);
  },
  
};
</script>

