<template>
  <div>
    <br />
    <p v-if="authenticated.user_name!=user.user_name && user.user_name!=undefined" class="text-danger">
        Username changed. Please log in again !
    </p>
    <nuxt-link to="/users/edit">
      <button class="btn btn-warning btn-lg text-white">
        <span class="fa fa-edit"></span> &nbsp; Edit
      </button>
    </nuxt-link>
    <hr />
    <Detail />
    <hr />
    <button @click="change=!change" class="btn btn-danger">
        Change password
    </button>
    <br>
    <hr>
    <div v-if="change">
        <ChangePassword/>
    </div>
  </div>
</template>
<script>
import Detail from "~/components/user/detail";
import ChangePassword from "~/components/user/change_password"
export default {
  layout: "user",
  middleware: "authenticated_user",
  components: {
    Detail,ChangePassword
  },
  meta: {
    authenticated2: {
      role: "first"
    }
  },
  data() {
    return {change:false};
  },
  computed: {
    authenticated() {
      return this.$store.getters["login/getAuthenticated"];
    },
    user() {
      return this.$store.getters["user/getUser"];
    }
  },
  created() {
    this.$store.dispatch("user/USER");
  },
  methods: {}
};
</script>

