<template>
  <div class="form">
    <div class="head-title">
      <h1 class="text-center">Staff & Department management</h1>
      <p class="text-center">
        <span>Employees Login</span>
      </p>
      <p class="text-center">
        <img src="https://img.icons8.com/bubbles/2x/user.png" width="100px" alt />
      </p>
    </div>
    <form @submit.prevent.stop="login()">
      <div class="form-group before">
        <span class="fa fa-user"></span>
        <input
          type="text"
          class="dept-form"
          placeholder="Username "
          v-model="user.user_name"
          name="username"
          value
          required
        />
      </div>
      <div class="form-group before">
        <span class="fa fa-key"></span>
        <input
          type="password"
          class="dept-form"
          placeholder="Password "
          v-model="user.password"
          name="password"
          value
          required
        />
      </div>
      <div class="form-group text-center">
        <button class="dept-button dept-primary" type="submit">Login</button>
      </div>
    </form>
    <div class="text-center">
      <nuxt-link to="/">Go Home ?</nuxt-link>
      &nbsp;
      &nbsp;
      <nuxt-link to="/admins">Go Administrator ?</nuxt-link>
    </div>
    <div class="response">
      <div  class="error-message">
        <ul v-if="errors.error" class="error-ul text-center">
          <li v-for="(e,i) in errors.error.data.errors.user_name" :key="i">
            <span class="fa fa-times"></span>{{errors.error.data.errors.user_name[i]}}
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>
<script>
export default {
    layout:"login",
    middleware:"login",
    data(){
        return {
            user:{
                user_name:"",
                password:""
            }
        }
    },
    methods:{
        login()
        {
          this.$store.dispatch("login/loginUser",{user:this.user})
        }
    },
    computed:{
      errors(){
        return this.$store.getters["login/getErrors"]
      }
    }
}
</script>
