<template>
  <div>
    <div class="card">
      <div class="card-header bg-dark">
        <h4 class="text-white">Change password</h4>
      </div>
      <div class="card-body">
        <form @submit.prevent.stop="change()">
          <div class="form-group">
            <input
              type="password"
              class="form-control"
              v-model="schema.password_current"
              id="password_current"
              placeholder="Password Current"
            />
            <i
              @click="eye.password_current=!eye.password_current"
              v-if="eye.password_current"
              class="fa fa-eye"
            ></i>
            <i
              @click="eye.password_current=!eye.password_current"
              v-if="!eye.password_current"
              class="fa fa-eye-slash"
            ></i>
          </div>
          <div class="form-group">
            <input
              type="password"
              class="form-control"
              v-model="schema.password"
              id="password"
              placeholder="New Password"
            />

            <i @click="eye.password=!eye.password" v-if="eye.password" class="fa fa-eye"></i>
            <i @click="eye.password=!eye.password" v-if="!eye.password" class="fa fa-eye-slash"></i>
          </div>
          <div class="form-group">
            <input
              type="password"
              class="form-control"
              v-model="schema.password_confirmation"
              id="confirm"
              placeholder="Password Confirmation"
            />

            <i @click="eye.confirm=!eye.confirm" v-if="eye.confirm" class="fa fa-eye"></i>
            <i @click="eye.confirm=!eye.confirm" v-if="!eye.confirm" class="fa fa-eye-slash"></i>
          </div>
          <div class="form-group">
            <button class="btn btn-primary">Edit</button>
          </div>
          <div class="form-group">
            <div class="error-handling" v-if="errors.data && errors.data!=undefined">
              <ul v-for="(p,i) in errors.data.password_current" :key="errors.data.password_current[i]">
                <li class="text-danger">&times; {{errors.data.password_current[i]}}</li>
              </ul>
              <ul v-for="(p,i) in errors.data.password" :key="errors.data.password[i]">
                <li class="text-danger">&times; {{errors.data.password[i]}}</li>
              </ul>
              <ul v-for="(p,i) in errors.data.password_confirmation" :key="errors.data.password_confirmation[i]">
                <li class="text-danger">&times; {{errors.data.password_confirmation[i]}}</li>
              </ul>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  layout: "manager",
  middleware: ["authenticated"],
  meta: {
    authenticated: {
      role: "first"
    }
  },
  data() {
    return {
      schema: {
        password: "",
        password_current: "",
        password_confirmation: ""
      },
      eye: {
        password_current: false,
        password: false,
        confirm: false
      }
    };
  },
  methods: {
    change() {
      this.$store.dispatch("user/ChangePassword", this.schema);
    }
  },
  computed: {
    errors() {
      return this.$store.getters["user/getErrors"];
    }
  },
  watch: {
    "eye.password"(value) {
      if (value) {
        $("#password").attr("type", "text");
      } else {
        $("#password").attr("type", "password");
      }
    },
    "eye.password_current"(value) {
      if (value) {
        $("#password_current").attr("type", "text");
      } else {
        $("#password_current").attr("type", "password");
      }
    },
    "eye.confirm"(value) {
      if (value) {
        $("#confirm").attr("type", "text");
      } else {
        $("#confirm").attr("type", "password");
      }
    }
  }
};
</script>