<template>
  <div>
    <div class="card">
      <div class="card-header bg-dark">
        <h4 class="text-white">Details</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive table-detail">
          <table class="table table-hover">
            <thead>
              <tr>
                <td>Name</td>
                <td>Username</td>
                <td>Email</td>
                <td>Phone</td>
                <td>Address</td>
                <td>Birth day</td>
                <td>Gender</td>
                <td>Status</td>
                <td>Department</td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{user.first_name}} {{user.last_name}}</td>
                <td>{{user.user_name}}</td>
                <td>{{user.email}}</td>
                <td>{{user.phone}}</td>
                <td>{{user.address}}</td>
                <td>{{user.birth_day}}</td>
                <td>{{user.gender}}</td>
                <td>
                  <span v-if="user.first_login==1" class="fa fa-lock text-danger"></span>
                  <span v-if="user.first_login==0" class="fa fa-check text-success"></span>
                </td>
                <td v-if="user.department!=undefined">{{user.department.name}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  computed: {
    user() {
      return this.$store.getters["user/getUser"];
    }
  }
};
</script>

