<template>
  <div class="modal fade" id="edit-user">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Edit : {{user.user_name}}</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <form @submit.prevent.stop="edit()">
            <div class="form-group">
              <div class="row">
                <div class="col-md-6">
                  <label for="first_name">First Name</label>
                  <input
                    type="text"
                    id="first_name"
                    placeholder="first name "
                    :value="user.first_name"
                    @input="schema.first_name = user.first_name"
                    class="form-control"
                    required
                  />
                </div>
                <div class="col-md-6">
                  <label for="last_name">Last Name</label>
                  <input
                    type="text"
                    id="last_name"
                    placeholder="last name "
                    v-model="schema.last_name"
                    class="form-control"
                    required
                  />
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-md-6">
                  <label for="email">Email</label>
                  <input
                    type="email"
                    id="email"
                    placeholder="email "
                    class="form-control"
                    v-model="schema.email"
                    required
                  />
                  <ul class="error-handling" v-if="errors_handling.email">
                    <li>
                      <i class="fa fa-times"></i>
                      &nbsp;{{errors_handling.email}}
                    </li>
                  </ul>
                </div>
                <div class="col-md-3">
                  <label for="gender">Gender</label>
                  <select
                    name="gender"
                    id="gender"
                    v-model="schema.gender"
                    required
                    class="form-control"
                  >
                    <option value>Choose a gender</option>
                    <option :selected="schema.gender=='male'" value="male">Male</option>
                    <option value="female" :selected="schema.gender=='female'">Female</option>
                    <option value="other" :selected="schema.gender=='other'">Other</option>
                  </select>
                </div>
                <div class="col-md-3">
                  <label for="birth_day">Birthday</label>
                  <input
                    type="date"
                    id="birth_day"
                    placeholder="birth day "
                    v-model="schema.birth_day"
                    class="form-control"
                    required
                  />
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-md-6">
                  <label for="address">Address</label>
                  <input
                    type="text"
                    id="address"
                    placeholder="address  "
                    v-model="schema.address"
                    class="form-control"
                    required
                  />
                </div>
                <div class="col-md-6">
                  <label for="phone">Phone</label>
                  <input
                    type="text"
                    id="phone"
                    placeholder="phone "
                    v-model="schema.phone"
                    class="form-control"
                    required
                  />
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-md-8">
                  <label for="user_name">user name</label>
                  <input
                    type="text"
                    id="user_name"
                    placeholder="user name "
                    class="form-control"
                    v-model="schema.user_name"
                    required
                  />
                  <ul class="error-handling" v-if="errors_handling.user_name">
                    <li>
                      <i class="fa fa-times"></i>
                      &nbsp;{{errors_handling.user_name}}
                    </li>
                  </ul>
                </div>
                <div class="col-md-4">
                  <label for="genre">Department : </label>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <!-- <div class="col-md-1"></div> -->
                <div class="col-md-4">
                  <button type="submit" class="btn btn-success">Edit</button>
                </div>
              </div>
            </div>
          </form>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  // props: ["schema", "department"],
  data() {
    return {
      schema: {
        first_name: "",
        last_name: "",
        email: "",
        birth_day: "",
        address: "",
        user_name: "",
        phone: "",
        address: "",
        gender: ""
      },
      errors_handling: []
    };
  },
  created() {
    this.schema.first_name = this.user.first_name;
    this.schema.last_name = this.user.last_name;
    this.schema.email = this.user.email;
    this.schema.birth_day = this.user.birth_day;
    this.schema.address = this.user.address;
    this.schema.user_name = this.user.user_name;
    this.schema.gender = this.user.gender;
    this.schema.phone = this.user.phone;
  },
  computed: {
    user() {
      return this.$store.getters["user/getUser"];
    }
  },
  methods: {
    edit() {}
  }
};
</script>

<style>
</style>
