<template>
  <div>
    <div class="card">
      <div class="card-header bg-dark">
        <h4 class="text-white">Create a Department</h4>
      </div>
      <div class="card-body">
        <form @submit.prevent.stop="edit()">
          <div class="form-group fix">
            <label for>Name</label>
            <input type="text" @change="validate()" class="form-control" id v-model="schema.name" />
            <p
              v-if="error.name!=undefined && error.name!=''"
              class="text-danger"
            >&times; {{error.name}}</p>
          </div>
          <div class="form-group">
            <label for>Address</label>
            <input type="text" class="form-control" id v-model="schema.address" />
          </div>
          <div class="form-group">
            <label for>Phone</label>
            <input type="text" @change="isPhone()" class="form-control" id v-model="schema.phone" />
            <p
              v-if="error.phone !=undefined && error.phone!=''"
              class="text-danger"
            >&times; {{error.phone[0]}}</p>
          </div>
          <!-- <div class="form-group">
            <label for>Manager</label>
            <select v-model="schema.manager_id" multiple id class="chosen-selected">
              <option :value="d.id" v-for="(d,i) in admin" :selected="selected(d.id)" :key="i">{{d.first_name}} {{d.last_name}} --- {{d.user_name}}</option>
            </select>
          </div> -->
          <div class="form-group">
            <button class="btn btn-primary">Edit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  layout: "manager",
  middleware: ["authenticated", "root"],
  meta: {
    authenticated: {
      role: "first"
    }
  },
  data() {
    return {
      schema: {
        name: "",
        address: "",
        phone: "",
        manager_id: []
      },
      error: {
        name: "",
        phone: ""
      },
      admin: [],
      department: {}
    };
  },
  created() {
    this.$axios
      .get("api/v1/admin/department/" + this.$route.params.id, {
        headers: {
          Authorization: "Bearer " + this.authenticated.access_token
        }
      })
      .then(resposne => {
        this.department = resposne.data.department;
        this.schema.name = this.department.name;
        this.schema.address = this.department.address;
        this.schema.phone = this.department.phone;
        if (resposne.data.manager && Array.isArray(resposne.data.manager)) {
          let that = this;
          resposne.data.manager.forEach(function(admin){
            that.schema.manager_id.push(admin.id)
          })
        }
        
      })
      .catch(error => {
        alert(error);
      });
    this.$axios
      .get("api/v1/admin/manager?page=0", {
        headers: {
          Authorization: "Bearer " + this.authenticated.access_token
        }
      })
      .then(response => {
        this.admin = response.data.data
      })
      .catch(error => {
        alert(error);
      });
  },
  mounted(){
   
  },
  computed: {
    authenticated() {
      return this.$store.getters["login/getAuthenticated"];
    },
    departments() {
      return this.$store.getters["manager/getDepartments"];
    }
  },
  methods: {
    validate() {
      this.$axios
        .post(
          "api/v1/admin/validate/department",
          {
            name: this.schema.name,
            ignore: this.department.id
          },
          {
            headers: {
              Authorization: "Bearer " + this.authenticated.access_token
            }
          }
        )
        .then(resposne => {
          this.error = "";
        })
        .catch(error => {
          this.error = "this name is exists";
        });
    },
    isPhone() {
      // alert()
      if (
        // /^[+]*[(]{0,1}[0-9]{1,4}[)]{0,1}[-\s\./0-9]*$/.test(
        //   this.schema.phone
        // ) &&
        this.schema.phone.length >= 10
      ) {
        this.error.phone = "";
      } else {
        this.error.phone = "this feild is not phone number";
      }
    },
    selected(id){
      if (this.schema.manager_id.includes(parseInt(id))) {
        return true
      }
      return false
    },
    edit() {
      alert();
      if (this.error.name === "" && this.error.phone === "") {
        this.$axios
          .put("api/v1/admin/department/" + this.department.id, this.schema, {
            headers: {
              Authorization: "Bearer " + this.authenticated.access_token
            }
          })
          .then(resposne => {
            this.error.name = "";
            this.error.phone = "";
            this.$router.push("/admins/department");
          })
          .catch(error => {
            if (error.response.data && error.response.data.message) {
              this.error.name = error.response.data.message.name;
              this.error.phone = error.response.data.message.phone;
            }
          });
      }
    }
  }
};
</script>

<style>
</style>
