<template>
  <div>
    <div class="card">
      <div class="card-header bg-dark">
        <h4 class="text-white">Create a Department</h4>
      </div>
      <div class="card-body">
        <form @submit.prevent.stop="register()">
          <div class="form-group fix">
            <label for>Name</label>
            <input type="text" @change="validate()" class="form-control" id v-model="schema.name" />
            <p v-if="error!=''" class="text-danger">&times; {{error}}</p>
          </div>
          <div class="form-group">
            <label for>Address</label>
            <input type="text" class="form-control" id v-model="schema.address" />
          </div>
          <div class="form-group">
            <label for>Phone</label>
            <input type="text" class="form-control" id v-model="schema.phone" />
          </div>
          <div class="form-group">
            <button class="btn btn-primary">Create</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  layout: "manager",
  middleware: ["authenticated", "root"],
  meta: {
    authenticated: {
      role: "first"
    }
  },
  data() {
    return {
      schema: {
        name: "",
        address: "",
        phone:"",
      },
      error: ""
    };
  },
  computed: {
    authenticated() {
      return this.$store.getters["login/getAuthenticated"];
    }
  },
  methods: {
    validate() {
      this.$axios
        .post(
          "api/v1/admin/validate/department",
          {
            name: this.schema.name
          },
          {
            headers: {
              Authorization: "Bearer " + this.authenticated.access_token
            }
          }
        )
        .then(resposne => {
          this.error = "";
        })
        .catch(error => {
          this.error = "this name is exists";
        });
    },
    register() {
      this.$axios
        .post("api/v1/admin/department", this.schema, {
          headers: {
            Authorization: "Bearer " + this.authenticated.access_token
          }
        })
        .then(resposne => {
          this.error = "";
          this.$router.go(this.$route.path);
        })
        .catch(error => {
          alert(error);
        });
    }
  }
};
</script>

<style>
</style>
