<template>
    <div>
        <Department/>
    </div>
</template>

<script>
import Department from "~/components/manager/department"
export default {
    components:{
        Department
    },
    layout:"manager",
    middleware:["authenticated","root"],
    meta:{
        authenticated:{
            role:"fist"
        }
    },
    async asyncData({store}){
        return store.dispatch("manager/DEPARTMENTS");
    }
}   
</script>

<style>

</style>
