<template>
    <div>
        <div class="card">
            <div class="card-header bg-dark">
                <h4 class="text-white">Admin</h4>
                <br>
                <button @click="restore()" class="btn btn-success">Restore ({{admin_id.length}})</button>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>
                                    <input type="checkbox" @click="all=!all"></th>
                                <th>Name</th>
                                <th>Username</th>
                                <th>Email</th>
                                <th>Phone</th>
                                
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(admin,index) in admins" :key="index">
                                <td><input class="input-check" type="checkbox" v-model="admin_id" :value="admin.id"></td>
                               
                                <td>{{admin.first_name}} {{admin.last_name}}</td>
                                 <td>{{admin.user_name}}</td>
                                <td>{{admin.email}}</td>
                                <td>{{admin.phone}}</td>
                                
                                <td>
                                    <button @click="destroy(admin.id)" class="btn btn-danger">
                                        <span class="fa fa-trash"> </span>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    data(){
        return {
            admin_id:[],
            all:false,
        }
    },
    computed:{
        authenticated(){
            return this.$store.getters["login/getAuthenticated"]
        },
        admins()
        {
            return this.$store.getters["manager/getAdminsTrash"]
        },
        id()
        {
            let admins = this.$store.getters["manager/getAdminsTrash"]
            var data = []
            if (admins && Array.isArray(admins)) {
                admins.forEach(function(u){
                    data.push(u.id)
                })
            }
            return data
        }
    },
    methods:{
        destroy(id){
            this.$axios.delete("api/v1/admin/trash/admin/"+id,{
                headers:{
                    Authorization:"Bearer  "+this.authenticated.access_token
                }
            }).then(response=>{
                this.$store.dispatch("manager/TRASH")
            })
            .catch(error=>{

            })
        },
        restore(id){
            this.$axios.post("api/v1/admin/trash/admin",{
                admin_id:this.admin_id
            },{
                headers:{
                    Authorization:"Bearer  "+this.authenticated.access_token
                }
            }).then(response=>{
                this.$store.dispatch("manager/TRASH")
            })
            .catch(error=>{
                if (error.response.status==401) {
                    this.$store.commit("login/REMOVE_AUTH_COOKIE")
                    this.$router.push('/admins/login')
                }
            })
        }
    },
    watch:{
        "all"(value){
           if (value) {
               this.admin_id = this.id
           }else{
               this.admin_id = []
           }
        }
    }
}
</script>