<template>
    <div>
        <div class="card">
            <div class="card-header bg-dark">
                <h4 class="text-white">Department</h4>
                <br>
                <button @click="restore()" class="btn btn-success">Restore ({{department_id.length}})</button>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>
                                    <input type="checkbox" @click="all=!all"></th>
                                <th>Name</th>
                                <th>Phone</th>
                                <th>Address</th>
                                
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(department,index) in departments" :key="index">
                                <td><input class="input-check" type="checkbox" v-model="department_id" :value="department.id"></td>
                               
                                <td>{{department.name}}</td>
                                <td>{{department.phone}}</td>
                                <td>{{department.address}}</td>
                                
                                <td>
                                    <button @click="destroy(department.id)" class="btn btn-danger">
                                        <span class="fa fa-trash"> </span>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    data(){
        return {
            department_id:[],
            all:false,
        }
    },
    computed:{
        authenticated(){
            return this.$store.getters["login/getAuthenticated"]
        },
        departments()
        {
            return this.$store.getters["manager/getDepartmentsTrash"]
        },
        id()
        {
            let departments = this.$store.getters["manager/getDepartmentsTrash"]
            var data = []
            if (departments && Array.isArray(departments)) {
                departments.forEach(function(u){
                    data.push(u.id)
                })
            }
            return data
        }
    },
    methods:{
        destroy(id){
            this.$axios.delete("api/v1/admin/trash/department/"+id,{
                headers:{
                    Authorization:"Bearer  "+this.authenticated.access_token
                }
            }).then(response=>{
                this.$store.dispatch("manager/TRASH")
            })
            .catch(error=>{

            })
        },
        restore(id){
            this.$axios.post("api/v1/admin/trash/department",{
                department_id:this.department_id
            },{
                headers:{
                    Authorization:"Bearer  "+this.authenticated.access_token
                }
            }).then(response=>{
                this.$store.dispatch("manager/TRASH")
            })
            .catch(error=>{
                if (error.response.status==401) {
                    this.$store.commit("login/REMOVE_AUTH_COOKIE")
                    this.$router.push('/admins/login')
                }
            })
        }
    },
    watch:{
        "all"(value){
           if (value) {
               this.department_id = this.id
           }else{
               this.department_id = []
           }
        }
    }
}
</script>