<template>
    <div>
        <div class="card">
            <div class="card-header bg-dark">
                <h4 class="text-white">User</h4>
                <br>
                <button @click="restore()" class="btn btn-success">Restore ({{user_id.length}})</button>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>
                                    <input type="checkbox" @click="all=!all"></th>
                                <th>Name</th>
                                <th>Username</th>
                                <th>Email</th>
                                <th>Phone</th>
                                
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(user,index) in users" :key="index">
                                <td><input class="input-check" type="checkbox" v-model="user_id" :value="user.id"></td>
                               
                                <td>{{user.first_name}} {{user.last_name}}</td>
                                 <td>{{user.user_name}}</td>
                                <td>{{user.email}}</td>
                                <td>{{user.phone}}</td>
                                
                                <td>
                                    <button @click="destroy(user.id)" class="btn btn-danger">
                                        <span class="fa fa-trash"> </span>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
export default {
    data(){
        return {
            user_id:[],
            all:false,
        }
    },
    computed:{
        authenticated(){
            return this.$store.getters["login/getAuthenticated"]
        },
        users()
        {
            return this.$store.getters["manager/getUsersTrash"]
        },
        id()
        {
            let users = this.$store.getters["manager/getUsersTrash"]
            var data = []
            if (users && Array.isArray(users)) {
                users.forEach(function(u){
                    data.push(u.id)
                })
            }
            return data
        }
    },
    methods:{
        destroy(id){
            this.$axios.delete("api/v1/admin/trash/user/"+id,{
                headers:{
                    Authorization:"Bearer  "+this.authenticated.access_token
                }
            }).then(response=>{
                this.$store.dispatch("manager/TRASH")
            })
            .catch(error=>{

            })
        },
        restore(id){
            this.$axios.post("api/v1/admin/trash/user",{
                user_id:this.user_id
            },{
                headers:{
                    Authorization:"Bearer  "+this.authenticated.access_token
                }
            }).then(response=>{
                this.$store.dispatch("manager/TRASH")
            })
            .catch(error=>{
                if (error.response.status==401) {
                    this.$store.commit("login/REMOVE_AUTH_COOKIE")
                    this.$router.push('/admins/login')
                }
            })
        }
    },
    watch:{
        "all"(value){
           if (value) {
               this.user_id = this.id
           }else{
               this.user_id = []
           }
        }
    }
}
</script>